.home-container {
  padding: 20px;
  font-size: 48px;
  display: flex;
  justify-content: center;
}

.home-card {
  width: 480px;
  display: none;
}

.home-content-container h1 {
  font-size: 1em;
  margin-top: 40px;
  color: #ffffff;
}

.home-content-container p {
  width: 320px;
  font-size: 0.46em;
  margin: 20px 0 50px 0;
  color: #f2f2f2;
}

.home-image-container {
  padding: 15px;
}

.home-image-container svg {
  width: 100%;
}

@media (min-width: 1200px) {
  .home-container {
    padding: 40px;
  }

  .home-card {
    display: block;
  }
}
